* {
    margin: 0;
    padding: 0;
}
body {
    height: 3000px;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix { /*  IE6、7专有 */
    *zoom: 1;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    display: block;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
/*导航栏模块*/
#header {
    height: 42px;
    margin: 30px auto;
    background-color: pink;
}
.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: purple;
}
.nav {
    float: left;
    margin-left: 60px;
}
.nav li {
    float: left;
    margin: 0 15px;
}
.nav li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav li a:hover {
    color: #00a4ff;
    border-bottom: 2px solid #00a4ff;
}
/*搜索模块*/
.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 50px;
    background-color: skyblue;
}
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
/*
input 和 button 是行内块元素，行内块元素之间会默认有一个缝隙，这样布局的时候就会发生混乱。
所以给这两个盒子加上浮动，就可以了
*/
.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background-color: blue;
}

/*banner模块开始啦*/
.banner {
    height: 421px;
    background-color: #1c036c;
}
.banner .w {
    height: 421px;
    background-color: pink;
}
.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, 0.3);
}
.banner .subnav ul li a {
    display: block;
    height: 46px;
    font-size: 14px;
    color: #fff;
    line-height: 46px;
    padding: 0 20px;
}
.banner .subnav ul li span {
    float: right;
}
.banner .subnav ul li a:hover {
    color: #00a4ff;
}
.banner .course {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}
.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}
.bd {
    padding: 0 20px;
}
.bd h4 {
    font-size: 16px;
    color: #4e4e4e;
}
.bd p {
    font-size: 12px;
    color: #a5a5a5;
}
.bd li {
    padding: 14px 0;
    border-bottom: 1px solid #9bceea;
}
.bd a {
    display: block;
    height: 38px;
    margin-top: 5px;
    border: 1px solid #9bceea;
    color: #00a4ff;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 700;
}

/*精品推荐模块*/
.goods {
    height: 60px;
    margin-top: 10px;
    background-color: #fff;
    /*行高会继承给三个孩子*/
    line-height: 60px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}
.goods h3 {
    float: left;
    font-size: 16px;
    color: #00a4ff;
    margin: 0 30px;

}
.goods ul {
    float: left;
}
.goods ul li {
    float: left;
}
.goods ul li a {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin: 20px 0px;
    padding: 0 30px;
    border-left: 1px solid lightgray;
    color: #0C1B2E;
}
.goods a {
    float: right;
    margin-right: 30px;
    color: #00a4ff;
}
.box {
    margin-top: 30px;
    /*overflow: hidden;*/
}
.box .box-hd {
    height: 45px;
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}
.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
}
.box .box-bd ul {
    width: 1250px;
}
.box .box-bd ul li {
    float: left;
    width: 228px;
    height: 271px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}
.box .box-bd .img {
    width: 228px;
    height: 155px;
    background-color: lightgray;
}
.box .box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
}
.box .box-bd ul li .info {
    margin: 0 25px;
    font-size: 12px;
    color: #999999;
}
.box .box-bd ul li span {
    color: #ff7c2d;
}
.footer {
    /*clear: both;*/
    height: 400px;
    background-color: pink;
}
.footer .w {
    padding-top: 35px;
}
.footer .coppyRight {
    float: left;
    /*background-color: #fff;*/
}
.footer .coppyRight img {
    width: 198px;
    height: 42px;
    background-color: purple;
}
.footer .link {
    float: right;
    /*background-color: #fff;*/
}
.footer p {
    font-size: 12px;
    color: #666666;
    margin: 20px 0 15px 0;
}
.footer .coppyRight a {
    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
}
.footer .link dl {
    float: left;
    margin-left: 100px ;
}