/*移动端的最小宽度一般设置为 320px*/

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft YaHei";
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    height: 2000px;
}

a {
    text-decoration: none;
    color: #222;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*搜索模块*/
.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    /*background: pink;*/
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    position: relative;
    flex: 1;
    height: 26px;
    font-size: 12px;
    line-height: 24px;
    color: #666;
    border: 1px solid #ccc;
    margin: 7px 10px;
    border-radius: 5px;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}

.user {
    width: 44px;
    height: 44px;
    /*background-color: purple;*/
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}

.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 3px auto 0;
}

/*焦点图模块*/
.foucs {
    padding-top: 44px;
}

.foucs img {
    width: 100%;
}

/*局部导航栏*/
.local-nav {
    display: flex;
    height: 64px;
    background-color: white;
    border-radius: 8px;
    margin: 0 4px;

}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.local-nav li [class^="local-nav-icon"]{
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url('../images/local-nav.png') no-repeat;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon-icon1 {
    background-position: 0 0;
}
.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -128px;
}

/*主导航栏 nav*/
nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}

.nav-common {
    display: flex;
    height: 88px;
    /*background-color: pink;*/
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
}

.nav-common:nth-child(2) {
    margin: 3px 0;
    background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid white;
}

.nav-items:nth-child(-n+2) {
    border-right: 1px solid white ;
}

.nav-items:nth-child(1) a {
    border: 0;
    background: url('../images/hotel.png') no-repeat bottom center;
    background-size: 121px auto;
}

/*次导航栏*/
.subnav-entry {
    display: flex;
    border-radius: 8px;
    padding: 5px 0;
    background-color: white;
    margin: 0 4px;
    flex-wrap: wrap;
}

.subnav-entry li {
    flex: 20%;

}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav-entry li [class^="subnav-entry-icon"] {
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background-color: pink;
    background: url('../images/subnav-bg.png') no-repeat;
    background-size: 28px auto;
}

/*.subnav-entry li .subnav-entry-icon-icon2 {*/
/*    background-position: 0 -28px;*/
/*}*/
/*.subnav-entry li .subnav-entry-icon-icon3 {*/
/*    background-position: 0 -56px;*/
/*}*/
/*.subnav-entry li .subnav-entry-icon-icon4 {*/
/*    background-position: 0 -84px;*/
/*}*/
/*.subnav-entry li .subnav-entry-icon-icon5 {*/
/*    background-position: 0 -112px;*/
/*}*/
/*.subnav-entry li .subnav-entry-icon-icon6 {*/
/*    background-position: 0 -140px;*/
/*}*/
/*.subnav-entry li .subnav-entry-icon-icon7 {*/
/*    background-position: 0 -168px;*/
/*}*/
/*.subnav-entry li .subnav-entry-icon-icon8 {*/
/*    background-position: 0 -196px;*/
/*}*/
/*.subnav-entry li .subnav-entry-icon-icon9 {*/
/*    background-position: 0 -224px;*/
/*}*/
/*.subnav-entry li .subnav-entry-icon-icon10 {*/
/*    background-position: 0 -252px;*/
/*}*/

/*销售模块*/
.sales-box {
    border-top: 1px solid #ccc;
    border-radius: 8px;
    margin: 4px;
    background-color: white;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url('../images/hot.png') no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    top: 0px;
    right: 5px;
    background: -webkit-linear-gradient(left, #FF506C, #ff5bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: white;
}
.more::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}

.row a img {
    width: 100%;
}

