body {
    font:16px/28px "Microsoft YaHei"
}

h1 {
    font-weight: normal;  /* 文字不加粗 */
    /*  h1里面的文字水平居中  */
}

h1, .center{
   text-align: center;
}

#title {
    font-size: 20px;
    font-weight: 700;

}

#container {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}
.gray {
    color: gray;
}

p {
    font-size: 20px;
    line-height: 34px;
    text-indent: 2em;
}

a {
    text-decoration: none;
}

p img {
    margin:0 auto;
}