h1, .center{
   text-align: center;
}

#title {
    font-size: 20px;
    font-weight: 700;

}

#container {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

p {
    font-size: 20px;
    line-height: 34px;
    text-indent: 2em;
}

a {
    text-decoration: none;
}